porte_monnaie_citoyen_mobile/node_modules/**/*
porte_monnaie_citoyen_server/node_modules/**/*
porte_monnaie_citoyen_mobile/.expo/*
porte_monnaie_citoyen_mobile/npm-debug.*
porte_monnaie_citoyen_server/npm-debug.*
logs/access.logs
logs/error.logs