#accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    display: flex;
    height: 50px;
    width: 400px;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #EEEEEE;
}

.input {
    width: 400px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px;
}

.label_form_co {
    font-size: 15px;
    margin: 10px;
}

.title {
    font-weight: bold;
    margin: 10px;
}

#error {
    font-weight: bold;
    background-color: #BB000077;
    border-radius: 5px;
}

.row {
    display: flex;
    width: 400px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: azure;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

#dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button_mid {
    width: 200px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
}

#ajout-deal {
    position: fixed;
    left: 10%;
    top: 10%;
    width: 450px;
    height: 250px;
    background-color: rgb(211, 210, 210);
    border-radius: 20px;
    box-shadow: #00000055 5px 5px 5px 5px;
    padding: 15px;
}

#demande-event {
    position: fixed;
    right: 10%;
    top: 10%;
    width: 450px;
    height: 420px;
    background-color: rgb(211, 210, 210);
    border-radius: 20px;
    box-shadow: #00000055 5px 5px 5px 5px;
    padding: 15px;
}

.button_mini_suppr {
    width: 35px;
    height: 35px;
    background-color: #F22B10;
    border-radius: 10px;
    margin: 5px;
}

.button_mini_qr {
    width: 35px;
    height: 35px;
    background-color: gray;
    border-radius: 10px;
    margin: 5px;
}

#qr_payment {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 5px;
    background-color: rgb(211, 210, 210);
}